
  <div class="carousel-item<%= user_counter == 0 ? ' active' : '' %>">
    <div class="row justify-content-center">
      <div>
        <image class="user-profile__picture" src="<%= user.image_url %>" height=50 width=50 />
      </div>
    </div>
    <div class="row">
      <div class="col-5 font-weight-bold bg-secondary text-white rounded-top">
        Email
      </div>
      <div class="col-7">
        <%= user.email %>
      </div>
    </div>
    <div class="row">
      <div class="col-5 font-weight-bold bg-secondary text-white">
        Name
      </div>
      <div class="col-7">
        <%= user.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-5 font-weight-bold bg-secondary text-white">
        Date joined
      </div>
      <div class="col-7">
        <%= user.created_at.strftime('%F') %>
      </div>
    </div>
    <div class="row">
      <div class="col-5 font-weight-bold bg-secondary text-white rounded-bottom">
        Date approved
      </div>
      <div class="col-7">
        <%= user.updated_at.strftime('%F') %>
      </div>
    </div>
    <% if render_approve || render_delete %>
      <div class="row mt-1">
        <div class="col">
          <%= form_for user, url: { action: 'approve', id: user.id }, method: 'patch', class: 'center-block' do |f| %>
            <div class="row justify-content-center"><span class="small align-self-center"><b>share percentage</b></span></div>
            <div class="row justify-content-center">
                <%= f.text_field :share_percentage, class: 'w-25 text-center' %>
            </div>
            <div class="row justify-content-center">
              <%= f.submit "#{render_approve ? 'approve' : 'update'}", class: 'btn btn-primary w-25' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if render_delete %>
      <div class="row justify-content-center mt-1">
        <div class="col">
        <%= form_for user, url: { action: 'delete', id: user.id }, method: 'delete', class: 'center-block' do |f| %>
          <div class="row justify-content-center">
            <%= f.submit 'delete', class: 'btn btn-danger w-25'  %>
          </div>
        <% end %>
        </div>
      </div>
    <% end %>
    <% unless render_delete || render_approve %>
      <div class="row">
        &nbsp;
      </div>
    <% end %>
  </div>
