<div class="row">
    <div class="col-1"><image class="user-profile__picture" src="<%= user.image_url %>" height=50 width=50 /></div>
    <div class="col-3 align-self-center"><%= user.email %></div>
    <div class="col-2 align-self-center"><%= user.name %></div>
    <% if render_delete || render_approve %>
      <div class="col-2 align-self-center">
        <%= form_for user, url: { action: "#{render_approve ? 'approve' : 'update'}", id: user.id }, method: 'patch' do |f| %>
          <%= f.text_field :share_percentage, class: 'w-50' %>
          <%= f.submit "#{render_approve ? 'approve' : 'update'}", class: 'btn btn-primary' %>
        <% end %>
      </div>
    <% end %>
    <% if render_delete %>
        <div class="col align-self-center">
          <%= form_for user, url: { action: 'delete', id: user.id }, method: 'delete' do |f| %>
            <%= f.submit 'delete', class: 'btn btn-danger'  %>
          <% end %>
        </div>
    <% end %>
</div>
<div class="row small">
  <div class="col-2 align-self-center"><b>Joined: </b><%= user.created_at.strftime('%F %T') %></div>
  <div class="col-2 align-self-center"><b>last update: </b><%= user.updated_at.strftime('%F %T') %></div>
</div>
