<div class="container-fluid">
    <div class="mt-4">
        <div class="row">
            <div class="col">
                <h3><span class="badge badge-dark"><%= users_to_approve.length %></span> Awaiting approval</h3>
            </div>
        </div>
    </div>
    <div class="d-block d-md-none carousel slide" id="UsersToApproveCarousel" data-interval="">
        <% if users_to_approve.length > 0 %>
        <div class="carousel-inner" role="listbox">
            <%= render partial: 'user_carousel', collection: users_to_approve, as: :user, locals: { render_approve: true, render_delete: true } %>
        </div>
        <div class="row">
            <div class="col">
                <a class="carousel-control-prev" href="#UsersToApproveCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col">
                <a class="carousel-control-next" href="#UsersToApproveCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <% else %>
        No pending approvals
        <% end %>
    </div>
    <div class="card d-none d-md-block" id="UsersToApprove">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3 font-weight-bold">
                Email address
            </div>
            <div class="col-2 font-weight-bold">
                Name
            </div>
            <div class="col font-weight-bold">
                Share %
            </div>
        </div>
        <div class="data-row_wrapper">
            <%= render partial: 'user', collection: users_to_approve, as: :user, locals: { render_approve: true, render_delete: true } || raw("No pending approvals") %>
        </div>
    </div>
    <div class="mt-4">
        <div class="row">
            <div class="col">
                <h3><span class="badge badge-dark"><%= admin_users.length %></span> Admins</h3>
            </div>
        </div>
    </div>
    <div class="d-block d-md-none carousel slide" id="AdminUsersCarousel" data-interval="">
        <div class="carousel-inner" role="listbox">
            <%= render partial: 'user_carousel', collection: admin_users, as: :user, locals: { render_approve: false, render_delete: false } || raw("No admin users") %>
        </div>
        <a class="carousel-control-prev" href="#AdminUsersCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#AdminUsersCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
    <div class="card d-none d-md-block" id="AdminUsers">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3 font-weight-bold">
                Email address
            </div>
            <div class="col-2 font-weight-bold">
                Name
            </div>
        </div>
        <div class="data-row_wrapper">
            <%= render partial: 'user', collection: admin_users, as: :user, locals: { render_approve: false, render_delete: false } %>
        </div>
    </div>
    <div class="mt-4">
        <div class="row">
            <div class="col">
                <h3><span class="badge badge-dark"><%= standard_users.length %></span> Regular users</h3>
            </div>
        </div>
    </div>
    <div class="d-block d-md-none carousel slide row" id="RegularUsersCarousel" data-interval="0">
        <% if standard_users.length > 0 %>
            <div class="carousel-inner col" role="listbox">
                <%= render partial: 'user_carousel', collection: standard_users, as: :user, locals: { render_approve: false, render_delete: true } %>
            </div>
            <a class="carousel-control-prev" href="#RegularUsersCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#RegularUsersCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        <% else %>
            <p>No users</p>
        <% end %>
    </div>
    <div class="card d-none d-md-block" id="RegularUsers">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3 font-weight-bold">
                Email address
            </div>
            <div class="col-2 font-weight-bold">
                Name
            </div>
            <div class="col font-weight-bold">
                Share %
            </div>
        </div>
        <div class="data-row_wrapper">
            <%= render partial: 'user', collection: standard_users, as: :user, locals: { render_approve: false, render_delete: true } %>
        </div>
    </div>
</div>
