<div class="row justify-content-center">
  <h1><%= Apartment::Tenant.current %></h1>
</div>
<% if current_user.nil? %>
  <div class="container">
    <div class="oauth-provider row justify-content-center login-icon__wrapper">
      <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'border border-dark rounded col-6 p-2' do %>
          <%= inline_svg('google_logo') %>
          <span>Sign in with Google</span>
      <% end %>
    </div>
    <div class="oauth-provider row mt-1 justify-content-center login-icon__wrapper">
      <%= link_to user_facebook_omniauth_authorize_path, class: 'border border-dark rounded col-6 p-2' do %>
          <%= inline_svg('facebook_logo') %>
        <span>Sign in with facebook</span>
      <% end %>
    </div>
  </div>
  <% else %>
  <div class="row justify-content-center">
    <%= "Welcome #{current_user.name}" %>
  </div>
<% end %>
