<%= form_with(model: revenue_share, local: true) do |form| %>
  <% if revenue_share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(revenue_share.errors.count, "error") %> prohibited this revenue_share from being saved:</h2>

      <ul>
      <% revenue_share.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :amount, class: "w-50" %>
    <%= form.submit "#{revenue_share.id.nil? ? 'add' : 'update'}", class: 'btn btn-primary' %>
  </div>
<% end %>
