<div class="row<%= revenue_share_counter.odd? ? ' bg-light' : '' %>">
  <div class="d-none d-md-block col-md-1"><image class="user-profile__picture" src="<%= revenue_share[:image_url] %>" height=50 width=50 /></div>
  <div class="d-none d-md-block col-md-2 align-self-center"><%= revenue_share[:name] %></div>
  <div class="col-4 col-md-2 align-self-center"><%= revenue_share[:created_at].strftime('%F') %></div>
  <div class="col-4 col-md-2 align-self-center text-right"><%= revenue_share[:amount] %></div>
  <div class="col-2 align-self-center text-right"><%= revenue_share[:share_due] %></div>
</div>
