<div class="container-fluid">
  <div id="MobileSearchForm" class="d-md-none">
    <div id="search-form__collapse-container">
      <%= form_tag(revenue_shares_mine_path, method: 'get') do %>
        <div class="row text-center">
          <div class="col small font-weight-bold">between</div>
        </div>
        <div class="row text-center">
          <div class="col">
            <%= date_field(:q, :start_date, value: @search_filters[:start_date].strftime('%F')) %>
          </div>
        </div>
        <div class="row text-center">
          <div class="col small font-weight-bold">and</div>
        </div>
        <div class="row text-center">
          <div class="col">
            <%= date_field(:q, :end_date, value: @search_filters[:end_date].strftime('%F')) %>
          </div>
        </div>
        <div class="row text-center">
          <div class="col">
            <%= submit_tag('filter', class: 'btn btn-primary') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="DesktopSearchForm" class="d-none d-md-block">
    <div class="row">
      <div class="col-3 small font-weight-bold text-center">between these dates</div>
      <div class="col"></div>
    </div>
    <%= form_tag(revenue_shares_mine_path, method: 'get') do %>
      <div class="row">
          <div class="col-3 text-center">
            <%= date_field(:q, :start_date, value: @search_filters[:start_date].strftime('%F')) %>
            <%= date_field(:q, :end_date, value: @search_filters[:end_date].strftime('%F')) %>
          </div>
          <div class="col">
            <%= submit_tag('filter', class: 'btn btn-primary') %>
          </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-2 text-right">TOTALS:</div>
    <div class="col-2 col-md-2 text-right font-weight-bold"><%= @my_revenue_shares.sum { |s| s[:amount] } %></div>
    <div class="col-2 text-right font-weight-bold"><%= @my_revenue_shares.sum { |s| s[:share_due] || 0 } %></div>
  </div>
  <div class="row border-top border-bottom border-dark">
    <div class="col-4 col-md-2 font-weight-bold">
      Date
    </div>
    <div class="col-4 col-md-2 font-weight-bold text-right">
      Amount
    </div>
    <div class="col-2 font-weight-bold text-right">
      Share due
    </div>
  </div>
  <%= render partial: "revenue_share", collection: @my_revenue_shares, as: :revenue_share, locals: { editable: false } %>
</div>
