<!DOCTYPE html>
<html>
  <head>
    <title><%= Apartment::Tenant.current %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="manifest" href="<%= manifest_path %>" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body class="w-75" style="margin: 0 auto;">
    <% unless current_user.nil? %>
      <nav class="navbar navbar-light bg-light navbar-expand-lg container-fluid">
        <a class="navbar-brand" href="/"><img class="px-1" src="<%= image_path "serviceworker-rails/#{current_tenant.subdomain}-32x32.png" %>" /><%= (current_tenant.subdomain || 'TEHG4M3.COM').humanize %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% menu_items.each_key do |key| %>
              <%= render(partial: 'menu_item_category', locals: { menu_items: menu_items[key], category_label: key }) unless key.nil? %>
            <% end %>
            <%= render partial: 'menu_item', collection: menu_items[nil] %>
          </ul>
        </div>
      </nav>
    <% end %>
    <%= yield %>
    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
